- content_for :landing do
  %nav.sub-navbar.navbar.navbar-default
    .container
      #navbar.sub-navbar
        %ul.nav.navbar-nav
          %li.boldest= link_to 'Explorar', root_path, class: 'navbar-brand'
          %li= link_to 'Organizaciones', organizations_path
          %li= link_to 'Proyectos', projects_list_path
          %li= link_to 'Inversionistas', investors_path

        = form_tag(projects_list_path, method: :get, class: 'navbar-form navbar-left') do
          .inner-addon.right-addon
            = text_field_tag(:q, nil, class: 'form-control inline', placeholder: "Busca proyectos y organizaciones por palabras clave...")
            %i{:class  => "glyphicon glyphicon-search "}
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Ver Mapa', root_path(anchor: 'map')

  #video.content-video
    = video_tag 'https://s3.amazonaws.com/sociedad-actua-production/SA-C.mp4',
    class: 'video', width: '100%', autoplay: true, muted: true, loop: true
    .content__overlay
      %h1.content__heading Bienvenido a Sociedad Actúa
      %p.content__desc
        el lugar de encuentro entre personas, organizaciones, y proyectos

  / .search-box-bar
  /   .container
  /     = form_tag(projects_list_path, method: :get, class: '') do
  /       .inner-addon.left-addon
  /         %i{:class  => "glyphicon glyphicon-search"}
  /         = text_field_tag(:q, nil, class: 'search-box', placeholder: "Busca proyectos por nombre, organización, descripción ó causas", maxlength: 50, autocomplete: "off")


#explore.row.text-center
  %h1 Descubre a la sociedad que ya está actuando

  .row
    .col-xs-12.col-sm-4.text-center
      = link_to projects_list_path do
        = image_tag 'roles/proyectos_2x.png', class: 'landing-icon'
        %br
        %h3.btn.btn-default Proyectos
      %p Acciones que están realizando individuos, grupos o instituciones para mejorar nuestra sociedad

    .col-xs-12.col-sm-4.text-center
      = link_to organizations_path do
        = image_tag 'roles/organizations_2x.png', class: 'landing-icon'
        %br
        %h3.btn.btn-default Organizaciones
      %p Organizaciones legalmente constituidas que ejecutan proyectos

    .col-xs-12.col-sm-4.text-center
      = link_to investors_path do
        = image_tag 'roles/investors_2x.png', class: 'landing-icon'
        %br
        %h3.btn.btn-default Inversionistas
      %p Organizaciones y personas interesadas en invertir en los proyectos sociales

  .row
    .col-xs-12.col-sm-4.text-center
      = link_to organizations_path(type: "grupos")  do
        = image_tag 'roles/groups_2x.png', class: 'landing-icon'
        %br
        %h3.btn.btn-default Grupos
      %p Colectivos sin figura jurídica que ejecutan proyectos


    .col-xs-12.col-sm-4.text-center
      = link_to registration_url(user_type: "collaborator")  do
        = image_tag 'roles/collaborators_2x.png', class: 'landing-icon'
        %br
        %h3.btn.btn-default Colaboradores
      %p Personas interesadas en ayudar en los proyectos sociales

    .col-xs-12.col-sm-4.text-center
      = link_to events_list_path  do
        = image_tag 'roles/eventos_grid_2x.png', class: 'landing-icon'
        %br
        %h3.btn.btn-default Eventos
      %p ¿Quieres saber que está haciendo la comunidad de Sociedad Actúa? !No dejes de ver la sección de eventos!

.row
  .col-md-12.map-landing{:id=>"map"}
    = simple_form_for :tag, :url => root_path(:anchor => "map", :defaults => {:required => false}), :method => :get do |f|
      .row
        .col-md-1
          = image_tag "landing/encuentra_2x.png", class: "map-icon"
        .col-md-11.padding-text-map
          .row
            .col-md-6
              %p.big-ass.bright Encuentra
              %p.bright Busca proyectos por ubicación geográfica           
            .col-md-6.text.right
              =f.input :name, collection: @projects, include_black: false,input_html: { "data-placeholder"=> I18n.t('simple_form.placeholders.search'), class: "chosen-select ", tabindex: "2", :onchange=>"show_marker();"}, :label =>false, :required => false

      .row
        .col-md-11.col-md-offset-1
          =f.label I18n.t('simple_form.placeholders.fields'), class: "yellow", :required => false
          .yellow.glyphicon.glyphicon-chevron-down{:data => {:toggle => 'collapse', :target => '.avanzada'}}
          .row.avanzada.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
            .col-md-1
            .col-md-3
              =f.label I18n.t('simple_form.placeholders.search_city'), class: "bright", :required => false
              =f.input :city, collection: CITIES, include_black: false,input_html: { "data-placeholder"=> I18n.t('simple_form.placeholders.organization.city'), class: "chosen-select", tabindex: "2"  }, label: false, :required => false
            .col-md-2
              =f.label I18n.t('simple_form.placeholders.search_ageb'), class: "bright", :required => false
              =f.input :ageb, :label =>false, :required => false
            .col-md-2
              =f.label I18n.t('simple_form.placeholders.search_distrito'), class: "bright", :required => false
              =f.input :distrito, :label =>false , :required => false
            .col-md-2
              =f.label I18n.t('simple_form.placeholders.search_seccion'), class: "bright", :required => false
              =f.input :seccion, :label =>false , :required => false
            .col-md-1.margin-top-button.text-right
              = f.button :submit, "buscar"
    %div{:id=>"geolocation", :style=>'width: 100%; height: 400px;'}
    .row
      .col-md-12.text-right.padding-text-map
        = link_to "ver listado", projects_list_path, :class=>"btn btn-secondary", :style=>"margin-right:8px;"
    /   .col-md-10.text-right.padding-text-map
    /     = link_to "descargar proyectos", download_csv_project_visitors_path(format: :csv),:class=>"btn btn-secondary"

- if @organizations.count >= 4
  #showcase.row
    %h3.fourth_accent
      = image_tag 'other/showcase_2x.png', class: 'icon-title'
      Descubre
    %h5.showcase__subtitle.fourth_accent Descubre lo que está pasando en el lugar donde vives
    .showcase
      = render "showcase", organizations: @organizations.take(2), type: :even
      = render "showcase", organizations: [@organizations.third, @organizations.fourth], type: :odd


:javascript
  $(document).ready(loadMapLanding);
  var markersArray = [];
  var markers;
  //mostramos en el mapa la ubicacion del usuario
    function centerOnMap(position){
        markers = JSON.parse('#{raw(@markers.to_json)}');
        // markers = JSON.parse('[{"lat":25.6780368,"lng":-100.3133067,"name":"","id":43,"url":"/es/organizaciones/49/proyectos/43","status":"active"},{"lat":25.670276,"lng":-100.3052854,"name":"Acción de la Semana #YOSOYPAZ","id":40,"url":"/es/organizaciones/15/proyectos/40","status":"active"},{"lat":25.6676192,"lng":-100.3466004,"name":"A FORMAR PERSONAS MEJORES Y MÁS FELICES","id":36,"url":"/es/organizaciones/34/proyectos/36","status":"active"},{"lat":25.6497515,"lng":-100.3715458,"name":"APES Parkour Facilities","id":24,"url":"/es/organizaciones/25/proyectos/24","status":"active"},{"lat":25.6542625,"lng":-100.2978762,"name":"Apoyo Asistencial a Familias en Situación de Vulnerabilidad","id":4,"url":"/es/organizaciones/9/proyectos/4","status":"active"},{"lat":25.6945823,"lng":-100.3396828,"name":"Becas Asistenciales","id":42,"url":"/es/organizaciones/43/proyectos/42","status":"active"},{"lat":25.666274,"lng":-100.2620616,"name":"Becas de Asistencia para Adultos Mayores","id":59,"url":"/es/organizaciones/66/proyectos/59","status":"active"},{"lat":25.6550944177298,"lng":-100.392654601825,"name":"Campaña Regreso a Clases, Zona Escolar Segura","id":33,"url":"/es/organizaciones/37/proyectos/33","status":"active"},{"lat":31.3287024,"lng":-109.5317716,"name":"Centro de Inteligencia Vecinal","id":2,"url":"/es/organizaciones/5/proyectos/2","status":"active"},{"lat":25.6506168043191,"lng":-100.382661774205,"name":"Centros de Pensamiento ","id":5,"url":"/es/organizaciones/11/proyectos/5","status":"active"}]')

         for(i=0; i< markers.length; i++){
          if(markers[i]["status"] === 'active'){
            marker = handler.addMarker({
              lat: markers[i]["lat"],
              lng: markers[i]["lng"],
              infowindow: "<a href=" + markers[i]["url"] + ">Proyecto: " + markers[i]["name"] + "</a>",
              title:  markers[i]["name"]
            });
            markersArray.push(marker);
          }
        }
        if(markers[0]["lat"]+"" == ""){
          handler.map.centerOn(["25.6754382","-100.3483728"]);
        }else{
          handler.map.centerOn([markers[markers.length-1]["lat"],markers[markers.length-1]["lng"]]);
        }

        handler.getMap().setZoom(10);
    }